<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="css/estilos.css">
</head>
<body>
    <section class="login-container">
        <img src="img/fondo-coches.png" alt="Fondo de un estacionamiento" class="login-background">
        <div class="login-box">
            <div class="login-logo">
                <a href="Inicio.html">
                    <img src="img/logo.png" alt="Logo SmartParking">
                </a>
            </div>
            <form class="login-form">
                <label for="email">EMAIL</label>
                <input type="email" id="email" placeholder="Email">
                <label for="password">CONTRASEÑA</label>
                <input type="password" id="password" placeholder="Contraseña">
                <div class="login-buttons">
                    <a type="button" class="btn btn-signup" href="Registro.html">SIGN UP</a>
                    <button type="button" class="btn btn-login">LOG IN</button>
                </div>
            </form>
        </div>
    </section>
</body>
</html>
