{% extends 'base.html' %}
{% import 'macros.html' as macros %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %}
    {{super()}} - Benvingut a la app
{% endblock %}

{% block content %}
    <h1>Benvingut a la nostra aplicació Flask</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus eligendi neque voluptates officia magnam, laborum soluta exercitationem, accusantium iure quidem nemo assumenda optio quae vero, perferendis praesentium iste rem deleniti.</p>

    {% if username %}
        <h2>Benvingut, {{ username }}</h2>
    {% endif %}

    <!-- Formulario de inicio de sesión -->
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-5 mx-auto formulario">
                <h3>Iniciar sessió</h3>
                {{ wtf.quick_form(login_form) }}
            </div>
        </div>
    </div>

    <div class="container mt-3 text-center">
        <p>Encara no tens un compte?</p>
        <a href="#registro" class="btn btn-link" data-bs-toggle="collapse">Registrar-se</a>
    </div>

    <!-- Formulario de registro (oculto por defecto) -->
    <div id="registro" class="collapse container mt-5">
        <div class="row justify-content-center">
            <div class="col-5 mx-auto formulario">
                <h3>Registrar-se</h3>
                {{ wtf.quick_form(register_form) }}
            </div>
        </div>
    </div>
{% endblock %}